<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shree Kalyan Dental Care</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Add your favicon link here -->
    <link rel="icon" href="images/dentist_favicon_1.jpg" type="image/x-icon">    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"
    />
    <link
      rel="stylesheet"
      href="fonts/icomoon/style.css"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="css/magnific-popup.css"
    />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link
      rel="stylesheet"
      href="css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="css/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="css/bootstrap-datepicker.css"
    />

    <link
      rel="stylesheet"
      href="fonts/flaticon/font/flaticon.css"
    />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/style.css" />
    <style>
      @media (max-width: 768px) {
          /* Adjust for smaller screens */
          button.btn-primary {
              width: auto;
              font-size: 2vw;
          }
      }
  </style>
</head>
<body style="background-color: #ece8d9;">
    <div class="site-section site-block-appointment">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 pl-lg-5 order-1 order-lg-2">
                    <div class="pl-lg-5 ml-lg-5">
                        <h2 class="site-heading text-black">Your <strong>Admin</strong> Login!</h2>
                    </div>
                </div>
                <div class="col-lg-6 order-2 order-lg-1">
                    <form method="post" class="p-5 bg-white">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12">
                              <label class="font-weight-bold" for="{{ login_form.username.id_for_label }}">Username</label>
                              {{ login_form.username }}
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-12">
                              <label class="font-weight-bold" for="{{ login_form.password.id_for_label }}">Password</label>
                              {{ login_form.password }}
                            </div>
                          </div>                          
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button onclick="redirectToHome()" class="btn btn-primary float-right">Back to Home</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/main.js"></script>
    <script>
        function redirectToHome() {
            window.location.href = "/";
        }
    </script>
</body>
</html>
