{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Shree Kalyan Dental Care{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <!-- Add your favicon link here -->
    <link rel="icon" href="{% static 'website/images/dentist_favicon_1.jpg' %}" type="image/x-icon">
    
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Include Bootstrap and Popper.js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include other JavaScript libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Your custom script to initialize the datepicker -->
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/fonts/icomoon/style.css'%}"
    />

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'website/css/magnific-popup.css'%}"
    />
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'website/css/owl.carousel.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/css/owl.theme.default.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/css/bootstrap-datepicker.css'%}"
    />

    <link
      rel="stylesheet"
      href="{% static 'website/fonts/flaticon/font/flaticon.css'%}"
    />

    <link rel="stylesheet" href="{% static 'website/css/aos.css'%}" />

    <link rel="stylesheet" href="{% static 'website/css/style.css'%}" />
  </head>
  <body>
  <div class="site-section site-block-appointment">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 pl-lg-5 order-1 order-lg-2">
          <div class="pl-lg-5 ml-lg-5">
            <h2 class="site-heading text-black">Edit <strong>Appointment</strong> Request Form</h2>
          </div>
        </div>
        <div class="col-lg-6 order-2 order-lg-1">
            <form method="post" class="p-5 bg-white">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="{{ appointment_form.first_name.id_for_label }}">First Name*</label>
                  {{ appointment_form.first_name }}
                </div>
                <div class="col-md-6">
                  <label class="font-weight-bold" for="{{ appointment_form.last_name.id_for_label }}">Last Name*</label>
                  {{ appointment_form.last_name }}
                </div>
              </div>
            
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="{{ appointment_form.gender.id_for_label }}">Gender*</label>
                  {{ appointment_form.gender }}
                </div>
                <div class="col-md-6">
                  <label class="font-weight-bold" for="{{ appointment_form.age.id_for_label }}">Age*</label>
                  {{ appointment_form.age }}
                </div>                
              </div>
                          
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="{{ appointment_form.date.id_for_label }}">Date*</label>
                    {{ appointment_form.date }}
                </div>
                <div class="col-md-6">
                    <label class="font-weight-bold">Time Slot*</label>
                    {{ appointment_form.time_slot }}
                    <!-- Error message div for Time Slot -->
                    <div id="time_slot_error" class="text-danger">
                      {% if error_message %}
                          {{ error_message }}
                      {% endif %}
                    </div>
                </div>                                        
              </div>                           
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="{{ appointment_form.contact_number.id_for_label }}">Contact Number*</label>
                  {{ appointment_form.contact_number }}
                </div>
                <div class="col-md-6">
                  <label class="font-weight-bold" for="{{ appointment_form.email.id_for_label }}">Email</label>
                  {{ appointment_form.email }}
                </div>             
              </div>
            
              <div class="row form-group">                
                <div class="col-md-12">                  
                  <label class="font-weight-bold" for="{{ appointment_form.treatment_needed.name }}">Treatment Needed</label>
                  {{ appointment_form.treatment_needed }}                  
                </div>
              </div>
            
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="{{ appointment_form.notes.id_for_label }}">Notes</label>
                  {{ appointment_form.notes }}
                </div>
              </div>
        
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                </div>
              </div>  
            </form>
            <script type="text/javascript">
              $(document).ready(function () {
                var dateSelect = $('#id_date');
                var timeSlotSelect = $('#id_time_slot');
                var originalDate = dateSelect.val();  // Get the original date

                // Function to fetch and update time slots
                function formatDate(selectedDate) {
                    var parts = selectedDate.split("/");
                    return parts[2] + "-" + parts[0] + "-" + parts[1]; // Format to YYYY-MM-DD
                }

                function updateTimeSlots(selectedDate) {
                    $.ajax({
                        url: '/filter_edit_appointment_time_slots/',
                        method: 'GET',
                        data: {
                            selected_date: formatDate(selectedDate), // Format to YYYY-MM-DD
                            original_date: formatDate(originalDate), // Format to YYYY-MM-DD
                        },
                        dataType: 'json',
                        success: function (data) {
                            timeSlotSelect.empty();
                            $.each(data.available_time_slots, function (index, timeSlot) {
                                timeSlotSelect.append($('<option>', {
                                    value: timeSlot,
                                    text: timeSlot
                                }));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error("Error: " + error);
                        }
                    });
                }

                // Call the function when the form is loaded
                updateTimeSlots(originalDate);

                dateSelect.on('change', function () {
                    var selectedDate = dateSelect.val();
                    updateTimeSlots(selectedDate);
                });
            });
            </script>
          </div>          
        </div>
      </div>
    </div>
    <script src="{% static 'website/js/jquery-migrate-3.0.1.min.js'%}"></script>
    <script src="{% static 'website/js/jquery-ui.js'%}"></script>
    <script src="{% static 'website/js/popper.min.js'%}"></script>
    <script src="{% static 'website/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'website/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'website/js/jquery.stellar.min.js'%}"></script>
    <script src="{% static 'website/js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'website/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'website/js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'website/js/aos.js'%}"></script>

    <script src="{% static 'website/js/main.js'%}"></script>
  </body>
</html>