<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHGTR6K825"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GHGTR6K825');
  </script>

  <!-- Primary title block -->
  <title>Shree Kalyan Dental Care</title>

  <!-- Meta tags for character encoding and responsive design -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Google site verification meta tag -->
  <meta name="google-site-verification" content="C3KQBAHC8m58HBEqIjI7gzJPMwzxXRza_zt6CH_lmSM" />

  <!-- Dynamic meta tags for SEO -->
  <meta name="description" content="{{ meta_description|default:default_meta_description }}">
  <meta name="keywords" content="{{ meta_keywords|default:default_meta_keywords }}">
  <meta name="author" content="{{ meta_author|default:default_meta_author }}">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Dentist",
      "name": "Shree Kalyan Dental Care Hospital",
      "image": "https://www.shreekalyandentalcare.com/static/website/images/dentist_favicon_1.jpg",
      "@id": "https://www.shreekalyandentalcare.com/",
      "url": "https://www.shreekalyandentalcare.com/",
      "telephone": "+917067278733",
      "address": {
        "@type": "PostalAddress",
        "@id": "https://www.shreekalyandentalcare.com/address",
        "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
        "addressLocality": "Raipur",
        "addressRegion": "Chhattisgarh",
        "postalCode": "492001",
        "addressCountry": "IN"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 21.2253,
        "longitude": 81.6581
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ],
        "opens": "10:00",
        "closes": "19:00"
      },
      "sameAs": [
        "https://www.facebook.com/profile.php?id=100077932892889&mibextid=2JQ9oc",
        "https://www.linkedin.com/in/shailja-singh-6685a5235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app",
        "https://instagram.com/shree.kalyan.dental.care?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
      ],
      "email": "shreekalyandentalcare@gmail.com",
      "priceRange": "Rs 200 to Rs 68000",
      "founder": {
        "@type": "Person",
        "name": "Dr. Shailja Singh"
      },
      "service": [
          {
            "@type": "MedicalBusiness",
            "name": "Tooth Fillings",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Dental Implants",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Orthodontic Treatment",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Tooth Extraction",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Oral Surgeries",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Cosmetic Dentistry",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          }
        ]
      }
    </script>

  <!-- Add your favicon link here -->
  <link rel="icon" href="images/dentist_favicon_1.jpg" type="image/x-icon">

  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!-- Include Bootstrap and Popper.js -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Include other JavaScript libraries -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Your custom script to initialize the datepicker -->
  <script>
    $(document).ready(function () {
      $('.datepicker').datepicker();
    });
  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900" />
  <link rel="stylesheet" href="fonts/icomoon/style.css" />

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="css/bootstrap-datepicker.css" />

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

  <link rel="stylesheet" href="css/aos.css" />

  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <!--.site-mobile-menu--->

    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-2">
          <div class="row align-items-center">
            <div class="col-6">
              <!-- <a href="#" class="p-2 pl-0"
                  ><span class="icon-twitter"></span
                ></a> -->
              <a href="https://www.facebook.com/profile.php?id=100077932892889&mibextid=2JQ9oc" class="p-2 pl-0"
                target="_blank">
                <span class="icon-facebook"></span>
              </a>
              <a href="https://www.linkedin.com/in/shailja-singh-6685a5235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                class="p-2 pl-0" target="_blank">
                <span class="icon-linkedin"></span>
              </a>
              <a href="https://instagram.com/shree.kalyan.dental.care?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                class="p-2 pl-0" target="_blank">
                <span class="icon-instagram"></span>
              </a>
            </div>
            <div class="col-6">
              <div class="d-flex ml-auto">
                <a href="tel:+917067278733" class="d-flex align-items-center ml-auto mr-4">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block">+917067278733</span>
                </a>
                <a href="#" onclick="copyEmail()" class="d-flex align-items-center">
                  <span class="icon-envelope mr-2"></span>
                  <span id="email" class="d-none d-md-inline-block">shreekalyandentalcare@gmail.com</span>
                </a>
                <script>
                  function copyEmail() {
                    var emailText = document.getElementById("email").innerText;
                    navigator.clipboard.writeText(emailText).then(function () {
                      alert("Email address copied to clipboard: " + emailText);
                    }).catch(function (err) {
                      console.error('Unable to copy email address', err);
                    });
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-navbar">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo">
                <a href="home.html">Shree Kalyan Dental Care</a>
              </h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                    <a href="#" class="site-menu-toggle js-menu-toggle text-white"><span
                        class="icon-menu h3"></span></a>
                  </div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li><a href="home.html">Home</a></li>
                    <!-- <li><a href="{% url 'home' %}#appointment-form">Book Appointment</a></li> -->
                    <li><a href="about.html">About Us</a></li>
                    <!-- <li><a href="{% url 'patients' %}">Patients</a></li>                         -->
                    <!-- <li><a href="{% url 'news' %}">News</a></li> -->
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <!-- <li><a href="admin_login.html">Admin Login</a></li> -->
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="site-blocks-cover inner-page" style="background-image: url(images/hero_bg_2.jpg);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <!-- <span class="sub-text">Services That Satisfy You</span> -->
                <h1>Tooth <strong>Extraction</strong></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <p></p>
    <p>At Shree Kalyan Dental Care, we offer the best <a
            href="https://business.google.com/v/_/AKsrIN0u1OXC712wWUwUsLJjZQNTmFQzCHd3CBCETLUwWQICBthiug/2d80/_?exp=1778401&myads=1"
            target="_blank"><b>tooth extraction in Raipur</b></a>, ensuring our patients'
        comfort and well-being throughout the process. Whether you require a routine extraction due to decay or wisdom
        teeth removal, our experienced dentists are here to provide gentle and effective care.</p>

    <p>Tooth extraction may become necessary for various reasons, including severe decay, overcrowding, or impacted
        wisdom teeth. Our dental team utilizes advanced techniques and state-of-the-art equipment to perform extractions
        with minimal discomfort and swift recovery.</p>

    <p>Before any extraction procedure, our dentists conduct a thorough examination and discuss treatment options
        tailored to your specific needs. We prioritize your comfort and safety, ensuring that you receive personalized
        care every step of the way.</p>

    <p>Post-extraction, our team provides detailed instructions on aftercare to promote healing and prevent
        complications. We are committed to your oral health and are available to address any concerns or questions you
        may have during the recovery period.</p>

    <p>At Shree Kalyan Dental Care, we understand that dental procedures can be daunting, which is why we strive to
        create a calming environment and build trust with our patients. Our goal is to make your tooth extraction
        experience as smooth and stress-free as possible.</p>

    <p>Whether you are experiencing tooth pain or have been advised by our dental team to undergo extraction, rest
        assured that you are in capable hands. Contact us today to schedule a consultation and learn more about how we
        can assist you with the best <a
            href="https://business.google.com/v/_/AKsrIN0u1OXC712wWUwUsLJjZQNTmFQzCHd3CBCETLUwWQICBthiug/2d80/_?exp=1778401&myads=1"
            target="_blank"><b>tooth extraction in Raipur</b></a>.</p>
</div>
<!-- <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="site-heading text-black mb-5">See Our <strong>Services</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="site-block-feature-2 d-flex rounded mb-5">
              <div class="mr-3">
                <span class="icon flaticon-tooth-whitening font-weight-light "></span>
              </div>
              <div class="text">
                <h3>Tooth Whitening</h3>
                <p>Sunt illum fugit doloremque eaque omnis dolor sint fuga eligendi quis magnam Laboriosam facilis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="site-block-feature-2 d-flex rounded mb-5">
              <div class="mr-3">
                <span class="icon flaticon-stethoscope font-weight-light "></span>
              </div>
              <div class="text">
                <h3>Stethoscope</h3>
                <p>Sunt illum fugit doloremque eaque omnis dolor sint fuga eligendi quis magnam Laboriosam facilis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="site-block-feature-2 d-flex rounded mb-5">
              <div class="mr-3">
                <span class="icon flaticon-dentist-chair font-weight-light "></span>
              </div>
              <div class="text">
                <h3>Dentist Chair</h3>
                <p>Sunt illum fugit doloremque eaque omnis dolor sint fuga eligendi quis magnam Laboriosam facilis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="site-block-feature-2 d-flex rounded mb-5">
              <div class="mr-3">
                <span class="icon flaticon-tooth-pliers font-weight-light "></span>
              </div>
              <div class="text">
                <h3>Tooth Pliers</h3>
                <p>Sunt illum fugit doloremque eaque omnis dolor sint fuga eligendi quis magnam Laboriosam facilis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="site-block-feature-2 d-flex rounded mb-5">
              <div class="mr-3">
                <span class="icon flaticon-first-aid-kit font-weight-light "></span>
              </div>
              <div class="text">
                <h3>First Aid Kit</h3>
                <p>Sunt illum fugit doloremque eaque omnis dolor sint fuga eligendi quis magnam Laboriosam facilis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="site-block-feature-2 d-flex rounded mb-5">
              <div class="mr-3">
                <span class="icon flaticon-dentist-tools font-weight-light "></span>
              </div>
              <div class="text">
                <h3>Dentist Tools</h3>
                <p>Sunt illum fugit doloremque eaque omnis dolor sint fuga eligendi quis magnam Laboriosam facilis.</p>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
    

    <div class="promo py-5 bg-primary">
      <div class="container text-center">
        <span class="d-block h4 mb-3 font-weight-light text-white">Promo For Tooth Cleaning from <del>$140.00</del> now <strong class="font-weight-bold">$50.00</strong></span>
        <div id="date-countdown" class="mt-0"></div>
      </div>
    </div> -->

    <footer class="site-footer border-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="row mb-5">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Navigation</h3>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- <ul class="list-unstyled">
                        <li style="color: white;"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'patients' %}">Patients</a></li>
                        <li style="color: white;"><a href="{% url 'services' %}">Services</a></li>
                        <li style="color: white;"><a href="https://www.google.com/maps/place/Shree+Kalyan+Dental+Care/@21.225269,81.6557681,17z/data=!3m1!4b1!4m6!3m5!1s0x3a28dd1ccb5aa133:0xe67136b0370e4114!8m2!3d21.225269!4d81.658343!16s%2Fg%2F11tfs_ksgj?entry=ttu">Google Maps Link</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Team</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <ul class="list-unstyled">
                        <li style="color: white;"><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li style="color: white;"><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="#">Membership</a></li>
                      </ul> -->
                  <ul style="padding: 0;color: #DCDCDC; list-style: none;">
                    <li><a href="{% url 'home' %}" style="color: #DCDCDC;">Home</a></li>
                    <li><a href="{% url 'services' %}" style="color: #DCDCDC;">Services</a></li>
                    <li><a
                        href="https://www.google.com/maps/place/Shree+Kalyan+Dental+Care/@21.225269,81.6557681,17z/data=!3m1!4b1!4m6!3m5!1s0x3a28dd1ccb5aa133:0xe67136b0370e4114!8m2!3d21.225269!4d81.658343!16s%2Fg%2F11tfs_ksgj?entry=ttu"
                        style="color: #DCDCDC;">Google Maps Link</a></li>
                    <li><a href="{% url 'about' %}" style="color: #DCDCDC;">About Us</a></li>
                    <li><a href="{% url 'contact' %}" style="color: #DCDCDC;">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4">
                  <div class="mb-5">
                    <h3 class="footer-heading mb-4">Recent News</h3>
                    <div class="block-25">
                      <ul class="list-unstyled">
                        <li class="mb-3">
                          <a href="#" class="d-flex">
                            <figure class="image mr-4">
                              <img
                                src="{% static 'website/images/hero_bg_1.jpg'%}"
                                alt=""
                                class="img-fluid"
                              />
                            </figure>
                            <div class="text">
                              <span class="small text-uppercase date"
                                >Sep 16, 2018</span
                              >
                              <h3 class="heading font-weight-light">
                                Lorem ipsum dolor sit amet consectetur elit
                              </h3>
                            </div>
                          </a>
                        </li>
                        <li class="mb-3">
                          <a href="#" class="d-flex">
                            <figure class="image mr-4">
                              <img
                                src="{% static 'website/images/hero_bg_1.jpg'%}"
                                alt=""
                                class="img-fluid"
                              />
                            </figure>
                            <div class="text">
                              <span class="small text-uppercase date"
                                >Sep 16, 2018</span
                              >
                              <h3 class="heading font-weight-light">
                                Lorem ipsum dolor sit amet consectetur elit
                              </h3>
                            </div>
                          </a>
                        </li>
                        <li class="mb-3">
                          <a href="#" class="d-flex">
                            <figure class="image mr-4">
                              <img
                                src="{% static 'website/images/hero_bg_1.jpg'%}"
                                alt=""
                                class="img-fluid"
                              />
                            </figure>
                            <div class="text">
                              <span class="small text-uppercase date"
                                >Sep 16, 2018</span
                              >
                              <h3 class="heading font-weight-light">
                                Lorem ipsum dolor sit amet consectetur elit
                              </h3>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> -->
            <div class="col-lg-4">
              <div class="mb-5">
                <h3 class="footer-heading mb-4">Get In Touch</h3>
                <div class="block-25">
                  <!-- <p><strong>SHREE KALYAN DENTAL CARE,<br>
                         SHOP NO.44, RDA COMPLEX,<br>
                         NEW RAJENDRA NAGAR, RAIPUR (C.G.)<br>
                         PIN:492001<br>
                         +917067278733<br>
                         MONDAY - SATURDAY(SUNDAY CLOSED)<br>
                         10.30 AM - 7.00 PM</strong></p> -->
                  <!-- <ul>
                          <li><strong>SHREE KALYAN DENTAL CARE,</strong><br>
                          SHOP NO.44, RDA COMPLEX,<br>
                          NEW RAJENDRA NAGAR, RAIPUR (C.G.)<br>
                          PIN:492001</li>
                          <li>+917067278733</li>
                          <li>MONDAY - SATURDAY(SUNDAY CLOSED)</li>
                          <li>10.30 AM - 7.00 PM</li>
                        </ul> -->
                  <ul style="padding: 0; list-style: none;">
                    <li style="color: #DCDCDC;"><strong>SHREE KALYAN DENTAL CARE,</strong><br>
                      SHOP NO.44, RDA COMPLEX,<br>
                      NEW RAJENDRA NAGAR, RAIPUR (C.G.)<br>
                      PIN:492001
                    </li>
                    <li style="color: #DCDCDC;">+917067278733</li>
                    <li style="color: #DCDCDC;">MONDAY - SATURDAY(SUNDAY CLOSED)</li>
                    <li style="color: #DCDCDC;">10.30 AM - 7.00 PM</li>
                  </ul>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 mb-5 mb-lg-0">
              <!-- <div class="mb-5">
                <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.</p>
    
                <form action="#" method="post">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                    </div>
                  </div>
                </form>
    
              </div> -->
    
    
    
              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Follow Us</h3>
    
                  <div>
                    <a href="https://www.facebook.com/profile.php?id=100077932892889&mibextid=2JQ9oc" class="pl-0 pr-3"
                      target="_blank" style="color: #DCDCDC;"><span class="icon-facebook"></span></a>
                    <!-- <a href="#" class="pl-3 pr-3"
                          ><span class="icon-twitter"></span
                        ></a> -->
                    <a href="https://instagram.com/shree.kalyan.dental.care?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                      class="pl-3 pr-3" target="_blank" style="color: #DCDCDC;"><span class="icon-instagram"></span></a>
                    <a href="https://www.linkedin.com/in/shailja-singh-6685a5235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                      class="pl-3 pr-3" target="_blank" style="color: #DCDCDC;"><span class="icon-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      </div>
    
      <script src="js/jquery-migrate-3.0.1.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.stellar.min.js"></script>
      <script src="js/jquery.countdown.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/bootstrap-datepicker.min.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/main.js"></script>
    </body>
    
    </html>